<% include ../partials/header %>

 <div class="jumbotron">
            <h1 class="display-3">Hello student</h1>
           <table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Firstname</th>
            <th>Lastname</th>
        </tr>
    </thead>
    <tbody>
       <% students.forEach(function(students){ %> 
       <tr>
            <td scope="row"><%= students.sid%></td>
            <td><%=  students.title%></td>
            <td><%=  students.firstname%></td>
             <td><%=  students.lastname%></td>
        </tr>
         <% }); %>
</tbody>
 
    
</table>
        </div>  







<% include ../partials/footer %>