<% include ../partials/header %>

<div class="jumbotron">
            <h1 class="display-3">Hello subject</h1>
                  <table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Title</th>
            <th>Credits</th>
            <th>Sections</th>
        </tr>
    </thead>
    <tbody>
       <% subject.forEach(function(subject){ %> 
      <tr>
            <td scope="rows"><%= subject.code%></td>
            <td><%=  subject.title%></td>
            <td><%=  subject.credits%></td>
             <td><%=  .sections%></td>
        </tr>
         <% }); %>
</tbody>
 
    
</table>
        </div>  


<% include ../partials/footer %>